<div class="container" style="background-image: url(https://bit.ly/3dTZvmc);">
 
  <h1 style="font-size: 700%;">My Quote</h1>

<p style="font-size:150% ;">How wise are you??Make out to your best mentors and add your quote;
</p>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>
        <div>
          <h6 id={{i}} appStrikethrough>{{quote.name}} Added on {{quote.completeDate|date|uppercase}}</h6>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Find Out</button>
        </div>

        <div *ngIf='quote.showDescription'>
          <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form  (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
  <p *ngIf='quotes.length > 4'>You have too many quotes</p>
</div>